
h1 {
	color: maroon;
	text-transform: uppercase;
	margin: 20px;
	padding: 40px;
	
	
}

h2 {
	color: maroon;
	text-decoration: underline;
}

h3 {
	color: maroon;
	text-decoration: underline;
}

h4 {
	color: maroon;
	text-decoration: underline;
}

body {
	font-family: sans-serif;
	background-color: aqua;

}

p {
    color: white;
    font-size: 12px;
}